body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background-image: url('space.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000;
    font-family: Arial, sans-serif;
}

.game-started {
    cursor: none;
}

#astronaut {
    position: absolute;
    font-size: 24px;
    user-select: none;
    transition: all 0.3s ease;
}

.star {
    position: absolute;
    font-size: 20px;
    user-select: none;
}

#score, #timer {
    position: fixed;
    top: 10px;
    color: white;
    font-size: 20px;
}

#score { left: 10px; }
#timer { right: 10px; }

.modal {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    padding: 2%; 
    box-sizing: border-box; 
}

.modal-content {
    font-size: small;
    background-color: #fefefe;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 90%; 
    max-width: 600px; 
    box-sizing: border-box; /
}

#startButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: block; 
    margin-left: auto;
    margin-right: auto;
}

